template(name='guestLogin')
  a(href="{{pathFor 'splash'}}") Back
  form
    label Please enter the ticket number written on your invitation.
    input(name='ticket' placeholder='Number' autocomplete='off')