template(name='details')
  h1 
    a(href='/#{home}') back
    | Details
  hr
  .menu
    a#detailsGeneral General
    a#detailsAccomodations Accomodations
    a#detailsCLothing Clothing
    a#detailsPanAmGames Pan AM Games
    a#detailsGifts Gifts
    a#detailsContact Contact
  .content
    +detailsContent